/*#map { 
	position: absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}*/

body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

#geolocate {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 158px;
    margin-left: -80px;
    z-index: 1000;
    font: 13px/18px;
    text-align: center;
    padding: 10px 0;
    color: #3C4E5A;
    display: block;
    border: 1px solid #BBB;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#geolocate:hover {
    background: #ECF5FA;
}

.hed {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius:40px;
    border: 2px solid #FFF;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}