<html>
  <head>
    <meta charset="utf-8"><a href="base.html" id="" title="base"></a>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><a href="base.html" id="" title="base"></a>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    {% if title %}
    <title>{{title}} - Hangouts</title>
    {% else %}
    <title>Hangouts</title>
    {% endif %}


    <!-- Modernizr first -->
    <script src="{{url_for('static', filename='js/lib/modernizr-2.6.2.js')}}"></script>

    <!-- Early Mapbox Load -->
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>


    <!-- CSS -->
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <!--[if lte IE 8]>
      <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Cherry+Swash:400,700' rel='stylesheet' type='text/css'>
    {% assets "all_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    

    
    <!-- Js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {# {% assets "lib_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %} #}
    {% assets "app_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

  </head>
  <body {% if base_class %} class="{{base_class}}" {% endif %}>
    {% if base_class %}
    <header>
        <img src="../../static/final_mockups.png">
    </header>
    {% endif %}
    <section>
      {% block content %}{% endblock %}
    </section>

  </body>
</html>