<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if title %}
    <title>{{title}} - Hangouts</title>
    {% else %}
    <title>Hangouts</title>
    {% endif %}


    <!-- Modernizr first -->
    <script src="{{url_for('static', filename='js/lib/modernizr-2.6.2.js')}}"></script>

    <!-- CSS -->

    <!-- Js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/login_handler.js')}}"></script>
    <script src="{{url_for('static', filename='js/facebook_init.js')}}"></script>
<!--     {% assets "app_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %} -->

  </head>
  <body>
    <header>
      <h1>Hangouts</h1>
      <p>Queen Bey seeking crew</p>
    </header>

    <section>
      {% block content %}{% endblock %}
    </section>

    <footer></footer>
  </body>
</html>