<html>
  <head>
    {% if title %}
    <title>{{title}} - Hangouts</title>
    {% else %}
    <title>Hangouts</title>
    {% endif %}


    <!-- Modernizr first -->
    <script src="{{url_for('static', filename='js/lib/modernizr-2.6.2.js')}}"></script>

    <!-- CSS -->

    <!-- Js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


  </head>
  <body>
    <header>
      <h1>Hangouts</h1>
      <p>Queen Bey seeking crew</p>
    </header>

    <section>
      {% block content %}{% endblock %}
    </section>

    <footer></footer>
  </body>
</html>